<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="/css.js"></script> -->
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>

<body>
    <div class="max-w-[1068px] mx-auto">
        <!-- <div id="chooseFile">
            <input type="file" class="text-center" onchange="readURL(this);" name="photo">
        </div>
        <img class="ms-auto" id="photo" style="width:30%;" src="" alt=""> -->

        <form class="mt-4" action="/multiple-upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="images" , multiple="true" id="imageInput" onchange="imgPreview(this)">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 rounded text-white px-4 py-1.5">Submit</button>
        </form>
        <div id="previewImages" class="mt-11 grid grid-cols-[repeat(auto-fit,250px)] overflow-hidden"></div>
    </div>
    <script src="/index.js"></script>
</body>

</html>